@import "../../scss/index.scss";

.footer {
  display: flex;
  background-color: $dark;
  color: $white-color;
  justify-content: space-evenly;
  align-items: flex-start;
  div {
    margin: 2rem 2rem 4rem 2rem;
  }
  h3 {
    font-size: small;
    text-align: start;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $white-color;
  }
  ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    list-style: none;
  }
  li {
    text-align: start;
    list-style: none;
    margin-top: 0.5rem;
    a {
      text-decoration: none;
      color: $white-color;
      font-size: small;
      font-family: "Arial";
    }
  }
  @media only screen and (max-width: 740px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
