@import "../../scss/index.scss";

.header {
  display: flex !important;
  background-color: $white-color;
  flex-direction: column;
  &__components {
    display: none;
  }
  &__top {
    display: flex;
    flex-direction: row;
    img {
      padding: 2rem;
    }
    &__components {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &__menu {
    background-color: $primary-color;
  }
  &__menu-hamburguesa {
    display: none;
    ul {
      display: none;
    }
  }
  @media only screen and (max-width: 740px) {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__menu {
      display: none;
    }
    &__components {
      display: flex;
    }
    &__top {
      height: 5rem;
      align-items: center;
      justify-content: center;
      &__components {
        display: none;
      }
    }

    &__menu-hamburguesa {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      overflow: hidden;
      height: 50%;
      background-color: $dark;

      label {
        display: flex;
        width: 20%;
        border: 1px solid $dark;
        height: 1.5rem;
        align-items: center;
        justify-content: center;
      }
      input[type="checkbox"] {
        display: none;
      }

      input:checked ~ ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        text-align: center;
        background-color: $primary-color;
        width: 100%;
        margin: 0;
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: $white-color;
            justify-content: flex-start;
          }
        }
      }
    }
  }
}
