@import "../../scss/index.scss";

.header {
  display: flex !important;
  background-color: $white-color;
  flex-direction: column;
  &__top {
    display: flex;
    flex-direction: row;
    img {
      padding: 2rem;
    }
    &__components {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
  &__menu {
    background-color: $primary-color;
  }
  @media only screen and (max-width: 520px) {
    &__top {
      &__a {
      }
    }
  }
}
